<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <![endif]-->
    <link href="../../css/H-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../lib2/Hui-iconfont/1.0.8/iconfont.min.css" rel="stylesheet" type="text/css" />

    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <style type="text/css">
        .ui-sortable .panel-header{ cursor:move}
    </style>
    <title>管理员版 项目列表</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body ontouchstart>
<!------------------头上的导航栏------------------>
<div class="containBox">
    <div>
        <header class="navbar-wrapper">
            <div class="navbar navbar-black navbar-fixed-top">
                <div class="container cl">
                    <a class="logo navbar-logo hidden-xs" href="/">大学生创新创业系统</a>
                    <a class="logo navbar-logo-m visible-xs" href="/"></a>
                    <span class="logo navbar-slogan hidden-xs"> 管理员版 &middot; 欢迎</span>
                    <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs JS-nav-toggle" href="javascript:;">&#xe667;</a>


                    <nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
                        <ul class="cl">
                            <li class="dropDown dropDown_hover">
                                <a href="../managers/m_projectList.html" class="dropDown_A">项目</a>
                            </li>
                            <li>
                                <a href="../managers/notice.html">公告</a>
                            </li>
                            <li class="dropDown dropDown_hover " style="float: right">
                                <a href="javascript:;" class="dropDown_A">XXXXXX XXX<i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li>
                                        <a href="../managers/user_info.html">修改个人信息</a>
                                    </li>
                                    <li>
                                        <a href="../login.html">退出系统</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="containBox-bg"></div>
        <nav class="breadcrumb">
            <div class="container">
                <i class="Hui-iconfont">&#xe67f;</i>
                <span class="c-gray">管理员版</span>
                <span class="c-gray en">&gt;</span>
                <a href="../managers/m_index.html" class="c-primary">首页</a>
            </div>
        </nav>
    </div>

</div>
<!------------------项目详情的列表-------------->
<div class="panel panel-default mt-20">
    <div  class="panel-header" >项目详情</div>
    <div class="panel-body">
        <div id="HuiTab-demo1" class="HuiTab">
            <div class="tabBar cl">
                <span>所有的项目</span>
                <span>未审核的项目</span>
                <span>未分配的项目</span>
                <span>进行中的项目</span>
                <span>已终止的项目</span>
            </div>
            <div class="tabCon" >
                <table class="table table-border table-bordered table-striped mt-20">
                    <thead>
                    <tr>
                        <th class="col1" style="width: 150px">项目名称</th>
                        <th class="col2">项目简介</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col1">1XXX </td>
                        <a href="../teachers/t_project.html">
                            <td class="col2">1XXX
                                <a href="../managers/m_project.html"><span style="float: right" class="share-text Hui-iconfont">&#xe715;</span></a>
                            </td>
                        </a>
                    </tr>
                    <tr>
                        <td class="col1">2XXX </td>
                        <td class="col2">2XXX </td>
                    </tr>
                    <tr>
                        <td class="col1">3XXX </td>
                        <td class="col2">3XXX </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tabCon" >
                <table class="table table-border table-bordered table-striped mt-20">
                    <thead>
                    <tr>
                        <th class="col1" style="width: 150px">项目名称</th>
                        <th class="col2">项目简介</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col1">1XXX </td>
                        <a href="../teachers/t_project.html">
                            <td class="col2">1XXX
                                <a href="../managers/m_project.html"><span style="float: right" class="share-text Hui-iconfont">&#xe715;</span></a>
                            </td>
                        </a>
                    </tr>
                    <tr>
                        <td class="col1">2XXX </td>
                        <td class="col2">2XXX </td>
                    </tr>
                    <tr>
                        <td class="col1">4XXX </td>
                        <td class="col2">4XXX </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tabCon" >
                <table class="table table-border table-bordered table-striped mt-20">
                    <thead>
                    <tr>
                        <th class="col1" style="width: 150px">项目名称</th>
                        <th class="col2">项目简介</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col1">1XXX </td>
                        <a href="../teachers/t_project.html">
                            <td class="col2">1XXX
                                <a href="../managers/m_project.html"><span style="float: right" class="share-text Hui-iconfont">&#xe715;</span></a>
                            </td>
                        </a>
                    </tr>
                    <tr>
                        <td class="col1">3XXX </td>
                        <td class="col2">3XXX </td>
                    </tr>
                    <tr>
                        <td class="col1">4XXX </td>
                        <td class="col2">4XXX </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tabCon" >
                <table class="table table-border table-bordered table-striped mt-20">
                    <thead>
                    <tr>
                        <th class="col1" style="width: 150px">项目名称</th>
                        <th class="col2">项目简介</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col1">1XXX </td>
                        <a href="../teachers/t_project.html">
                            <td class="col2">1XXX
                                <a href="../managers/m_project.html"><span style="float: right" class="share-text Hui-iconfont">&#xe715;</span></a>
                            </td>
                        </a>
                    </tr>
                    <tr>
                        <td class="col1">3XXX </td>
                        <td class="col2">3XXX </td>
                    </tr>
                    <tr>
                        <td class="col1">4XXX </td>
                        <td class="col2">4XXX </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-body" style="display: none;">
        <table class="table table-border table-bordered table-striped mt-20">
            <thead>
            <tr>
                <th class="col1" style="width: 150px">项目名称</th>
                <th class="col2">项目简介</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col1">1XXX </td>
                <a href="../teachers/t_project.html">
                    <td class="col2">1XXX
                        <a href="../managers/m_project.html"><span style="float: right" class="share-text Hui-iconfont">&#xe715;</span></a>
                    </td>
                </a>
            </tr>
            <tr>
                <td class="col1">2XXX </td>
                <td class="col2">2XXX </td>
            </tr>
            <tr>
                <td class="col1">3XXX </td>
                <td class="col2">3XXX </td>
            </tr>
            <tr>
                <td class="col1">4XXX </td>
                <td class="col2">4XXX </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!------------------script----------------->
<!--<script type="text/javascript" src="../js/jQuery.Huifold.js"></script>-->
<script type="text/javascript" src="../../lib2/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript" src="../../lib2/html5shiv.js"></script>
<script type="text/javascript" src="../../lib2/respond.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery-ui/1.9.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../js2/H-ui.js"></script>
<script type="text/javascript" src="../../lib2/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../../lib2/jquery.validation/1.14.0/messages_zh.min.js"></script>

<script>
    $(function() {
        $(".panel").Huifold({
            titCell:'.panel-header',
            mainCell:'.panel-body',
            type:1,
            trigger:'click',
            className:"selected",
            speed:"first",
        });
    });
    //选项卡
    $("#HuiTab-demo1").Huitab({
        index:0
    });
</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2017-01-01 -->