<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <![endif]-->
    <link href="../../css/H-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../lib2/Hui-iconfont/1.0.8/iconfont.min.css" rel="stylesheet" type="text/css" />
    <link href="../../font-awesome/css/font-awesome.css?v=4.3.0" rel="stylesheet">

    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <style type="text/css">
        .ui-sortable .panel-header{ cursor:move}

        .try{
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            float:left;
        }
    </style>
    <title>系统管理员版 问题记录</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body ontouchstart>
<!------------------头上的导航栏-------------->
<div class="containBox">
    <div>
        <header class="navbar-wrapper">
            <div class="navbar navbar-black navbar-fixed-top">
                <div class="container cl">
                    <a class="logo navbar-logo hidden-xs" href="/">大学生创新创业系统</a>
                    <a class="logo navbar-logo-m visible-xs" href="/"></a>
                    <span class="logo navbar-slogan hidden-xs"> 系统管理员版 &middot; 欢迎</span>
                    <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs JS-nav-toggle" href="javascript:;">&#xe667;</a>


                    <nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
                        <ul class="cl">
                            <li class="dropDown dropDown_hover">
                                <a href="../root/r_projectList.html" class="dropDown_A">项目管理</a>
                            </li>
                            <li class="dropDown dropDown_hover">
                                <a href="../root/r_problemList.html" class="dropDown_A">问题管理</a>
                            </li>
                            <li class="dropDown dropDown_hover">
                                <a href="javascript:;" class="dropDown_A">用户管理<i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li>
                                        <a href="../root/user.html" >查看用户信息</a><!--修改放在这里 按钮-->
                                    </li>
                                    <li>
                                        <a href="../root/user_add.html" >增加用户信息</a>
                                    </li>
                                    <li>
                                        <a href="../root/user_analyze.html">用户行为分析</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropDown dropDown_hover">
                                <a href="javascript:;" class="dropDown_A">公告管理<i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li>
                                        <a href="../root/notice.html">查看公告</a><!--删除公告放在这里 按钮-->
                                    </li>
                                    <li>
                                        <a href="../root/notice_add.html">发布公告</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropDown dropDown_hover " style="float: right">
                                <a href="javascript:;" class="dropDown_A"><span th:text="${session.userno}"/>&nbsp<span th:text="${session.username}"/><i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li>
                                        <a th:href="@{'/user/finduserbyuid/'+${session.userid}}"  >修改个人信息</a>
                                    </li>
                                    <li>
                                        <a href="../login.html"  >退出系统</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="containBox-bg"></div>
        <nav class="breadcrumb">
            <div class="container">
                <i class="Hui-iconfont">&#xe67f;</i>
                <span class="c-gray">系统管理员版</span>
                <span class="c-gray en">&gt;</span>
                <a href="../root/r_index.html" class="c-primary">首页</a>
                <span class="c-gray en">&gt;</span>
                <a href="#" class="c-primary">问题记录</a>
            </div>
        </nav>
    </div>

</div>
<!-----------------问题列表-———--------------->
<div class="panel panel-default mt-20">
    <div  class="panel-header" >问题记录</div>
    <div class="panel-body" style="display: block;">
        <table class="table table-border table-bordered table-striped mt-20">
            <thead>
            <tr>
                <th class="col1" style="width: 150px">问题主题</th>
                <th class="col2" style="width: 250px;">提问时间</th>
                <th class="col3">问题详情</th>
                <th class="col4" style="width: 50px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="problem:${problemList}">
                <td th:text="${problem.m_title}" class="col1">问题主题</td>
                <td th:text="${problem.create_time}" class="col2">提问时间</td>
                <td class="col3" th:onclick="'javascript:modaldemo('+${problem.m_id}+')'" >
                    <div class="try" th:text="${problem.m_details}" th:onclick="'javascript:modaldemo('+${problem.m_id}+')'" >问题详情</div>
                </td>
                <td class="col4">
                    <i class="fa fa-trash-o" th:onclick="'javascript:layer_demo('+${problem.m_id}+')'"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!------------------问题详情弹出框(未解决的问题)———--------------->
<div id="modal-demo" class="modal fade middle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title">问题详情</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
            </div>
            <div class="modal-body">
                <table>
                    <tbody>
                    <tr>
                        <th class="col1" style="width: 80px">提问者</th>
                        <td class="col2" id="from_name"></td>
                    </tr>
                    <tr>
                        <th class="col1">提问时间</th>
                        <td class="col2" id="create_time"></td>
                    </tr>
                    <tr>
                        <th class="col1">问题详情</th>
                        <td class="col2" id="probelm_details"></td>
                    </tr>
                    <tr>
                        <th class="col1">问题回复</th>
                            <td><input class="btn btn-primary size-MINI radius disabled" type="button" value="未解决"></td>
                           </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<!------------------问题详情弹出框(已解决的问题)———--------------->
<div id="modal-demo-finish" class="modal fade middle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <div id="problem_id_finish"></div>
                <h3 class="modal-title">问题详情</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
            </div>
            <div class="modal-body">
                <table>
                    <tbody>
                    <tr>
                        <th class="col1" style="width: 80px">提问者</th>
                        <td class="col2" id="from_name_finish"></td>
                    </tr>
                    <tr>
                        <th class="col1">提问时间</th>
                        <td class="col2" id="create_time_finish"></td>
                    </tr>
                    <tr>
                        <th class="col1">问题详情</th>
                        <td class="col2" id="probelm_details_finish"></td>
                    </tr>
                    <tr>
                        <th class="col1">问题回复</th>
                        <!--<td><input class="btn btn-primary size-MINI radius disabled" type="button" value="未解决"></td>-->
                        <td>
                            <input class="btn btn-primary size-MINI radius reply_info" type="button" value="点击查看" th:onclick="'javascript:reply()'">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!------------------查看回复———--------------->
                <div class="panel panel-default" id="reply" style="display: none;">
                    <div class="panel-header">问题回复</div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                            <tr>
                                <th class="col1" style="width: 80px">回复者</th>
                                <td class="col2" id="reply_name">回复者</td>
                            </tr>
                            <tr>
                                <th class="col1">回复时间</th>
                                <td class="col2" id="reply_create_time">回复时间</td>
                            </tr>
                            <tr>
                                <th class="col1">回复详情</th>
                                <td class="col2" id="reply_details">回复详情</td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary size-MINI radiun reply_info" th:onclick="close_reply()">关闭</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<!------------------删除问题确认———--------------->
<div id="delete" class="modal fade middle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <div id="problem_id" style="display: none"></div>
                    <h3 class="modal-title">确认删除吗？</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                    <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="确定" th:onclick="'javascript:delete_problem()'">
                </div>
            </div>
        </div>
    </div>
</div>
<!--------script--------->
<script type="text/javascript" src="../../js2/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../lib2/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript" src="../../lib2/html5shiv.js"></script>
<script type="text/javascript" src="../../lib2/respond.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery-ui/1.9.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../js2/H-ui.js"></script>
<script type="text/javascript" src="../../lib2/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../../lib2/jquery.validation/1.14.0/messages_zh.min.js"></script>

<script>
    //收缩框框
    $(function() {
        $(".panel").Huifold({
            titCell:'.panel-header',
            mainCell:'.panel-body',
            type:1,
            trigger:'click',
            className:"selected",
            speed:"first",
        });
    });
    //删除问题模态框
    function layer_demo(id){
        $.ajax({
        // data: {mid: id},
            success: function () {
                $('#problem_id').text(id);
                // document.getElementById("problem_id").value=id;
                // $('#problem_state').text(data.m_state);
                $("#delete").modal("show");
        }
    });
    }
    //调用后台删除方法
    function delete_problem(){
        var id=document.getElementById("problem_id").innerHTML;
        // alert(id);
        $.ajax({
            type: "GET",
            data: {mid: id},
            url: "/problem/deleteproblem",
        });

    }
    //问题详情模态框
    function modaldemo(id){
        // $("#modal-demo").modal("show");
        $.ajax({
            type: "GET",
            data: {mid: id},
            url: "/problem/findproblembymid",
            dataType : "json",
            success: function (data) {
                if (data) {
                    // 成功后开启模态框
                    $('#problem_state').text(data.m_state);
                    if(data.m_state==2){
                        $('#from_name').text(data.from_id);
                        $('#create_time').text(data.create_time);
                        $('#probelm_details').text(data.m_details);
                        $('#problem_id').text(data.m_id);
                        $("#modal-demo").modal('show');
                    }else if(data.m_state==3){
                        $('#from_name_finish').text(data.from_id);
                        $('#create_time_finish').text(data.create_time);
                        $('#probelm_details_finish').text(data.m_details);
                        $('#problem_id_finish').text(data.m_id);
                        $("#modal-demo-finish").modal('show');
                    }
                    // success:showQuery(data);
                } else {
                    alert("查找失败");
                }
            }
        });
    }
    //查看回复框框
    function reply(){
        var id=document.getElementById("problem_id_finish").innerHTML;
        // alert(id);
        $.ajax({
            type: "GET",
            data: {mid: id},
            url: "/problem/findreplybymid",
            dataType : "json",
            success: function (data) {
                if (data) {
                    // 成功后开启模态框
                    $(".reply_info").click(function(){
                        $("#reply").slideToggle();
                    });
                    $('#reply_id').text(data.m_id);
                    $('#reply_name').text(data.from_id);
                    $('#reply_create_time').text(data.create_time);
                    $('#reply_details').text(data.m_details);
                }
                else {
                    alert("查找失败");
                }
            }
        });
    }
    //关闭回复的框框
    function close_reply(){
        $.ajax({
            success: function (data) {
            // 成功后开启模态框
            $(".reply_info").click(function(){
                $("#reply").slideToggle();});
            }
        });
    }
</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2017-01-01 -->