<!--<!DOCTYPE HTML>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="renderer" content="webkit|ie-comp|ie-stand">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />-->
    <!--<meta http-equiv="Cache-Control" content="no-siteapp" />-->

    <!--<![endif]&ndash;&gt;-->
    <!--<link href="../css/H-ui.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="../lib2/Hui-iconfont/1.0.8/iconfont.min.css" rel="stylesheet" type="text/css" />-->

    <!--<script>DD_belatedPNG.fix('*');</script>-->
    <!--<![endif]&ndash;&gt;-->
    <!--<style type="text/css">-->
        <!--.ui-sortable .panel-header{ cursor:move}-->
    <!--</style>-->
    <!--<title>系统管理员版 问题详情</title>-->
    <!--<meta name="keywords" content="关键词,5个左右,单个8汉字以内">-->
    <!--<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">-->
<!--</head>-->
<!--<body ontouchstart>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;头上的导航栏&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<div class="containBox">-->
    <!--<div>-->
        <!--<header class="navbar-wrapper">-->
            <!--<div class="navbar navbar-black navbar-fixed-top">-->
                <!--<div class="container cl">-->
                    <!--<a class="logo navbar-logo hidden-xs" href="/">大学生创新创业系统</a>-->
                    <!--<a class="logo navbar-logo-m visible-xs" href="/"></a>-->
                    <!--<span class="logo navbar-slogan hidden-xs"> 系统管理员版 &middot; 欢迎</span>-->
                    <!--<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs JS-nav-toggle" href="javascript:;">&#xe667;</a>-->


                    <!--<nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">-->
                        <!--<ul class="cl">-->
                            <!--<li class="dropDown dropDown_hover">-->
                                <!--<a href="../root/r_projectList.html" class="dropDown_A">项目管理</a>-->
                            <!--</li>-->
                            <!--<li class="dropDown dropDown_hover">-->
                                <!--<a href="../root/r_problemList.html" class="dropDown_A">问题管理</a>-->
                            <!--</li>-->
                            <!--<li class="dropDown dropDown_hover">-->
                                <!--<a href="javascript:;" class="dropDown_A">用户管理<i class="Hui-iconfont">&#xe6d5;</i></a>-->
                                <!--<ul class="dropDown-menu menu radius box-shadow">-->
                                    <!--<li>-->
                                        <!--<a href="../root/user.html" >查看用户信息</a>&lt;!&ndash;修改放在这里 按钮&ndash;&gt;-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="../root/user_add.html" >增加用户信息</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--&lt;!&ndash;<a href="../root/user_analyze.html" （target="_blank"）-&#45;&#45;这个是在新建的页面显示>&ndash;&gt;-->
                                        <!--<a href="../root/user_analyze.html">用户行为分析</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li class="dropDown dropDown_hover">-->
                                <!--<a href="javascript:;" class="dropDown_A">公告管理<i class="Hui-iconfont">&#xe6d5;</i></a>-->
                                <!--<ul class="dropDown-menu menu radius box-shadow">-->
                                    <!--<li>-->
                                        <!--<a href="../root/notice.html">查看公告</a>&lt;!&ndash;删除公告放在这里 按钮&ndash;&gt;-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="../root/notice_add.html">发布公告</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li class="dropDown dropDown_hover " style="float: right">-->
                                <!--<a href="javascript:;" class="dropDown_A">XXXXXX XXX<i class="Hui-iconfont">&#xe6d5;</i></a>-->
                                <!--<ul class="dropDown-menu menu radius box-shadow">-->
                                    <!--<li>-->
                                        <!--<a href="../user_info.html" target="_blank">修改个人信息</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="../login.html" target="_blank">退出系统</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</nav>-->
                <!--</div>-->
            <!--</div>-->
        <!--</header>-->
        <!--<div class="containBox-bg"></div>-->
        <!--<nav class="breadcrumb">-->
            <!--<div class="container">-->
                <!--<i class="Hui-iconfont">&#xe67f;</i>-->
                <!--<span class="c-gray">系统管理员版</span>-->
                <!--<span class="c-gray en">&gt;</span>-->
                <!--<a href="../root/r_index.html" class="c-primary">首页</a>-->
                <!--<span class="c-gray en">&gt;</span>-->
                <!--<a href="#" class="c-primary">问题详情</a>-->
            <!--</div>-->
        <!--</nav>-->
    <!--</div>-->

<!--</div>-->
<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;问题详情-———-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<div class="panel panel-default">-->
    <!--<div class="panel-header">问题咨询</div>-->
    <!--<div class="panel-body">-->
        <!--<form action="" method="post" class="form form-horizontal responsive" id="demoform">-->
            <!--<div class="row clearfix">-->
                <!--<label class="form-label col-xs-3">收件人</label>-->
                <!--<div class="formControls col-xs-8">-->
                    <!--<div class="row clearfix" style="margin-top:0">-->
                        <!--<div class="col-xs-6">-->
                            <!--<span class="select-box">-->
                                <!--<select class="select" size="1" name="userName">-->
                                    <!--<option value="" selected>选择老师</option>-->
                                    <!--<option value="1">AXX</option>-->
                                    <!--<option value="2">BXX</option>-->
                                    <!--<option value="3">CXX</option>-->
                                <!--</select>-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row cl">-->
                <!--<label class="form-label col-xs-3">主题</label>-->
                <!--<div class="formControls col-xs-8">-->
                    <!--<input type="text" class="input-text" placeholder="问题简述..." name="messageTitle" id="messageTitle">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row cl">-->
                <!--<label class="form-label col-xs-3">问题</label>-->
                <!--<div class="formControls col-xs-8">-->
                    <!--<textarea cols="" rows="" class="textarea" name="m_details" id="messageDetails" placeholder="问题详情..."></textarea>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row cl">-->
                <!--<div class="col-xs-8 col-xs-offset-3">-->
                    <!--<input class="btn btn-primary" type="submit" value="&nbsp;&nbsp;发&nbsp;送&nbsp;&nbsp;">-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;script-&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<script type="text/javascript" src="../lib2/DD_belatedPNG_0.0.8a-min.js"></script>-->
<!--<script type="text/javascript" src="../lib2/html5shiv.js"></script>-->
<!--<script type="text/javascript" src="../lib2/respond.min.js"></script>-->
<!--<script type="text/javascript" src="../lib2/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="../lib2/jquery-ui/1.9.1/jquery-ui.min.js"></script>-->
<!--<script type="text/javascript" src="../js/H-ui.js"></script>-->
<!--<script type="text/javascript" src="../lib2/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>-->
<!--<script type="text/javascript" src="../lib2/jquery.validation/1.14.0/jquery.validate.min.js"></script>-->
<!--<script type="text/javascript" src="../lib2/jquery.validation/1.14.0/validate-methods.js"></script>-->
<!--<script type="text/javascript" src="../lib2/jquery.validation/1.14.0/messages_zh.min.js"></script>-->
<!--</body>-->
<!--</html>-->
<!--&lt;!&ndash;H-ui前端框架提供前端技术支持 h-ui.net @2017-01-01 &ndash;&gt;-->