<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <![endif]-->
    <link href="../../css/H-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../lib2/Hui-iconfont/1.0.8/iconfont.min.css" rel="stylesheet" type="text/css" />
    <link href="../../font-awesome/css/font-awesome.css?v=4.3.0" rel="stylesheet">


    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <style type="text/css">
        .ui-sortable .panel-header{ cursor:move}
    </style>
    <title>系统管理员版 用户信息</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body ontouchstart>
<!------------------头上的导航栏-------------->
<div class="containBox">
    <div>
        <header class="navbar-wrapper">
            <div class="navbar navbar-black navbar-fixed-top">
                <div class="container cl">
                    <a class="logo navbar-logo hidden-xs" href="/">大学生创新创业系统</a>
                    <a class="logo navbar-logo-m visible-xs" href="/"></a>
                    <span class="logo navbar-slogan hidden-xs"> 系统管理员版 &middot; 欢迎</span>
                    <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs JS-nav-toggle" href="javascript:;">&#xe667;</a>


                    <nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
                        <ul class="cl">
                            <li class="dropDown dropDown_hover">
                                <a href="../root/r_projectList.html" class="dropDown_A">项目管理</a>
                            </li>
                            <li class="dropDown dropDown_hover">
                                <a href="../root/r_problemList.html" class="dropDown_A">问题管理</a>
                            </li>
                            <li class="dropDown dropDown_hover">
                                <a href="javascript:;" class="dropDown_A">用户管理<i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li>
                                        <a href="/user/findalluser" >查看用户信息</a><!--修改放在这里 按钮-->
                                    </li>
                                    <li>
                                        <a href="../root/user_add.html" >增加用户信息</a>
                                    </li>
                                    <li>
                                        <a href="../root/user_analyze.html">用户行为分析</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropDown dropDown_hover">
                                <a href="javascript:;" class="dropDown_A">公告管理<i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li>
                                        <a href="notice.html">查看公告</a><!--删除公告放在这里 按钮-->
                                    </li>
                                    <li>
                                        <a href="../root/notice_add.html">发布公告</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropDown dropDown_hover " style="float: right">
                                <a href="javascript:;" class="dropDown_A"><span th:text="${session.userno}"/>&nbsp<span th:text="${session.username}"/><i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li>
                                        <a th:href="@{'/user/finduserbyuid/'+${session.userid}}"  >修改个人信息</a>
                                    </li>
                                    <li>
                                        <a href="../login.html"  >退出系统</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="containBox-bg"></div>
        <nav class="breadcrumb">
            <div class="container">
                <i class="Hui-iconfont">&#xe67f;</i>
                <span class="c-gray">系统管理员版</span>
                <span class="c-gray en">&gt;</span>
                <a href="../root/r_index.html" class="c-primary">首页</a>
                <span class="c-gray en">&gt;</span>
                <a href="#" class="c-primary">用户信息</a>
            </div>
        </nav>
    </div>

</div>
<!------------------用户列表———--------------->
<div class="panel panel-default mt-20">
    <div  class="panel-header" >用户列表</div>
    <div class="panel-body" style="display: block;">
        <table class="table table-border table-bordered table-striped mt-20">
            <thead>
            <tr>
                <th class="col1" style="width: 50px;">id</th>
                <th class="col2">工/学号</th>
                <th class="col3">真实姓名</th>
                <th class="col4">角色</th>
                <th class="col3">邮箱</th>
                <th class="col4">电话</th>
                <th class="col5" style="width: 100px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${userList}">
                <td th:text="${user.u_id}" class="col1">id</td>
                <td th:text="${user.u_no}" class="col2">工/学号</td>
                <td th:text="${user.u_name}" class="col3">真实姓名</td>
                <!--<td th:text="${UserTypeEnum.stateOf(user.getPosition()).getStateInfo()}" class="col4">角色</td>-->
                <td class="col4" th:if="${user.position==0}"></th:if>系统管理员</td>
                <td class="col4" th:if="${user.position==1}"></th:if>校级管理员</td>
                <td class="col4" th:if="${user.position==2}"></th:if>指导老师</td>
                <td class="col4" th:if="${user.position==3}"></th:if>学生</td>
                <td th:text="${user.email}" class="col5">邮箱</td>
                <td th:text="${user.phone}" class="col6">电话</td>
                <td class="col7">
                    <a class="like" href="javascript:void(0)" title="Like" th:onclick="'javascript:modaldemo('+${user.u_id}+')'" data-toggle="modal" data-target="#myModal1"><i class="fa fa-edit userupdate"></i></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="like" href="javascript:void(0)" title="Like"><i class="fa fa-trash-o" th:onclick="'javascript:layer_demo('+${user.u_id}+')'"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<!------------------修改用户信息———--------------->
<div class="panel panel-default" id="update" style="display: none;">
    <div class="panel-header">修改信息</div>
    <div class="panel-body">
        <form th:action="@{/user/updateuser/}" method="post" class="form form-horizontal responsive" id="demoform">
            <div class="row cl" style="display:none;">
                <label class="form-label col-xs-3">id</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="u_id" id="u_id" autocomplete="off">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">工/学号</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="u_no" id="u_no" autocomplete="off">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">真实姓名</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="u_name" id="u_name" value=""/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">密码</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="password" id="password" value=""></div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">邮箱</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="email" id="email" value=""/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3">电话</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" name="phone" id="phone" value=""/>
                </div>
            </div>
            <div class="row clearfix">
                <label class="form-label col-xs-3">角色</label>
                <div class="formControls col-xs-8">
                    <div class="row clearfix" style="margin-top:0">
                        <div class="col-xs-6">
                            <span class="select-box">
                                <select class="select" size="1" name="position" id="position">
                                    <option value="1">系统管理员</option>
                                    <option value="2">校级管理员</option>
                                    <option value="3">老师</option>
                                    <option value="3">学生</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-xs-offset-3">
                    <input class="btn btn-primary" type="submit" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<!------------------删除用户信息确认———--------------->
<div id="delete" class="modal fade middle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <h3 class="modal-title">确认删除吗？</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                    <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="确定" th:onclick="'javascript:delete_user()'">
                </div>
            </div>
        </div>
    </div>
</div>

<!--------script--------->
<script type="text/javascript" src="../../js2/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../lib2/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript" src="../../lib2/html5shiv.js"></script>
<script type="text/javascript" src="../../lib2/respond.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery-ui/1.9.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../js2/H-ui.js"></script>
<script type="text/javascript" src="../../lib2/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../lib2/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../../lib2/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script>
    $(function() {
        $(".panel").Huifold({
            titCell:'.panel-header',
            mainCell:'.panel-body',
            type:1,
            trigger:'click',
            className:"selected",
            speed:"first",
        });

    });
    //删除问题模态框
    function layer_demo(id){
        $.ajax({
            success: function () {
                $('#user_id').text(id);
                // document.getElementById("problem_id").value=id;
                // $('#problem_state').text(data.m_state);
                $("#delete").modal("show");
            }
        });
    }
    //调用后台删除方法
    function delete_user(){
        var id=document.getElementById("user_id").innerHTML;
        // alert(id);
        $.ajax({
            type: "GET",
            data: {uid: id},
            url: "/user/deleteuser",
        });

    }
    //用户详情模态框
    function modaldemo(id){
        // $("#modal-demo").modal("show");
        $.ajax({
            type: "GET",
            data: {uid: id},
            url: "/user/finduser",
            dataType : "json",
            success: function (data) {
                if (data) {
                    // 成功后开启模态框
                    $('#u_id').attr("value",data.u_id);
                    $('#u_no').attr("value",data.u_no);
                    $('#u_name').attr("value",data.u_name);
                    $('#password').attr("value",data.password);
                    $('#position').attr("value",data.position);
                    $('#email').attr("value",data.email);
                    $('#phone').attr("value",data.phone);
                    document.getElementById("position")[data.position].selected=true;
                    $(".userupdate").click(function(){
                        $("#update").slideToggle();
                    });
                }
            }
        });
    }
</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2017-01-01 -->